$facebook-color: #0084FF;

.button-facebook {
  background-color: $facebook-color;
  font-family: $header-font-family;
}

.bg-top {
	background-image: url("../img/grand-place.jpg");
	height: 660px;
	margin-bottom: 0px;
	color: white;
	border-top: 1px solid #696969;
}

.bg-bloc-button {
	height : 400px;
	background-color: white;
}

.logo {
	height: 40px;
}

.top-bar {
	background-color: white;
	ul.menu {
		background-color: white;
	}
	.menu-text {
		color: black;
		font-family: 'Concert One', cursive;
		font-size: 28px;
	}
}

footer {
	background-color: #262626;
	height: 56px;
	line-height: 56px;
}
h1 {
	font-family: 'Concert One', cursive;
}